cohere
langchain-community
llama-index
llama-index-embeddings-langchain
llama-index-llms-oci-genai
oracledb
pip
plotly
python-decouple
streamlit
tika
markitdown
scipy
numpy
pandas
requests
langchain_experimental
matplotlib
scikit-learn
